<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    </head>
    <body>
        <h1>Socket.io</h1>
        <script>
            var socket = io();

            socket.on('message', function(data) {
                if(data.type == 'init'){
                    console.log('Connexion initialized.');
                }
                
                socket.emit('message', {type:'acknowledge'});
            });
        </script>
    </body>
</html>