<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div class="page">
            <div class="chart"><canvas id="altitude_chart" style="width: 100%; height: 100%;"></canvas></div>
            <div class="chart"><canvas id="velocity_chart" style="width: 100%; height: 100%;"></canvas></div>
        </div>
        <script>
            
            const altitude_ctx = document.getElementById('altitude_chart');
            const velocity_ctx = document.getElementById('velocity_chart');
            
            var altitude_chart = new Chart(altitude_ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Altitude',
                        pointRadius: 0,
                        borderColor: '#b4befe',
                        borderWidth: 2,
                        data: []
                    }]
                },
                options: {
                    scales: {
                        y: {
                            grid: {
                                color: "#181825"
                            },
                            ticks: {
                                color: "#cdd6f4"
                            }
                        },
                        x: {
                            grid: {
                                color: "#181825"
                            },
                            ticks: {
                                color : "#cdd6f4",
                                display: false
                            }
                        }
                    },
                    animation: false,
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
            var velocity_chart = new Chart(velocity_ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Velocity',
                        pointRadius: 0,
                        borderColor: '#b4befe',
                        borderWidth: 2,
                        data: []
                    }]
                },
                options: {
                    scales: {
                        y: {
                            grid: {
                                color: "#181825"
                            },
                            ticks: {
                                color: "#cdd6f4"
                            }
                        },
                        x: {
                            grid: {
                                color: "#181825"
                            },
                            ticks: {
                                color : "#cdd6f4",
                                display: false
                            }
                        }
                    },
                    animation: false,
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
            
            function addData(chart, x, y) {
                chart.data.labels.push(x);
                chart.data.datasets.forEach((dataset) => {
                    dataset.data.push(y);
                });
                chart.update('none');
            };

            function resetData(chart){
                chart.data.labels = []
                chart.data.datasets.forEach((dataset) => {
                    dataset.data = []
                });
                chart.update('none');
            }
            
            var socket = io();
        
            socket.on('message', function(data) {
                if(data.type == 'init'){
                    console.log('Connexion initialized.');
                } else if(data.type == 'data'){
                    addData(altitude_chart, data.data.altitude.time, data.data.altitude.altitude);
                    addData(velocity_chart, data.data.velocity.time, data.data.velocity.velocity)
                } else if(data.type == 'reset'){
                    resetData(altitude_chart);
                    resetData(velocity_chart);
                    socket.emit('message', {type: 'reseted'});
                }
        
                socket.emit('message', {type:'acknowledge'});
            });
            </script>
    </body>
</html>